/* styles.css */

body {
  background-color: #f2f2f2; /* Set your desired background color */
}

.custom-style {
  color: #FF5733;
  /* Text color */
  font-size: 16px;
  /* Font size */
  /* Add more style properties as needed */
}

/* Additional styles can be added here */
